.background{
    height: auto;
    width: 600px;
    
}
* {
    margin: 0;
    padding: 0;
  }
  ul,
  ol {
    list-style: none;
  }
  body {
    font-family: "Playfair Display", serif;
  }
  a {
    text-decoration: none;
  }
  .header {
    background: #E5E4E2;
    height: 100px;
    line-height: 90px;
  }
  .container {
    max-width: 86%;
    margin: auto;
  }
  .menu_a {
    display: flex;
    justify-content: space-between;
  }
  .nav {
    display: flex;
  }
  .nav a {
    font-size: 20px;
    color: black;
    padding: 0 15px;
    text-transform: uppercase;
    display: block;
    transition: all linear 0.3s;
  }
  .nav a:hover {
    background: #6D6968;
    color: whitesmoke;
  }
  .blackhouse a {
    font-size: 35px;
    color: black;
  }
  .head{
    padding-top: 10px;
    padding-left: 50px;
    background-color: whitesmoke;
  }
  .paragraph{
    padding-top: 90px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    background-color: whitesmoke;
  
  }
  .headtag{
    text-align: center;
    font-family: "Playfair Display", serif;
    background-color: whitesmoke;
  }
  .imgtag{
    align-items: center;
    background-color: whitesmoke;
    padding-left: 55px;
  }
  .hd {
    background: #3A3B3C;
    height: 250px;
    line-height: 230px;
    
  }
  .cont {
    max-width: 86%;
    margin: auto;
  }
  .mn_a {
    display: flex;
    justify-content: space-between;
  }
  .bookonline{
    text-decoration: underline;
    color: wheat;
    
    
  }