.background{
    height: auto;
    width: 600px;
    
}
* {
    margin: 0;
    padding: 0;
  }
  ul,
  ol {
    list-style: none;
  }
  body {
    font-family: "Playfair Display", serif;
  }
  a {
    text-decoration: none;
  }
  .header {
    background: #E5E4E2;
    height: 100px;
    line-height: 90px;
  }
  .container {
    max-width: 86%;
    margin: auto;
  }
  .menu_a {
    display: flex;
    justify-content: space-between;
  }
  .nav {
    display: flex;
  }
  .nav a {
    font-size: 20px;
    color: black;
    padding: 0 15px;
    text-transform: uppercase;
    display: block;
    transition: all linear 0.3s;
  }
  .nav a:hover {
    background: #6D6968;
    color: whitesmoke;
  }
  .blackhouse a {
    font-size: 35px;
    color: black;
  }
  .head{
    padding-top: 0px;
    padding-left: 50px;
    background-color: whitesmoke;
  }
  .paragraph{
    padding-top: 90px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    background-color: whitesmoke;
  
  }
  .headtag{
    padding-top: 0px;
    text-align: center;
    font-family: "Playfair Display", serif;
    background-color: whitesmoke;
  }
  .imgtag{
    padding-top: 0px;
    align-items: center;
    background-color: whitesmoke;
    padding-left: 55px;
  }
  .hd {
    background: tomato;
    height: 200px;
    line-height: 200px;
    
  }
  .cont {
    max-width: 86%;
    margin: auto;
    
  }
  .mn_a {
    
    display: flex;
    justify-content: space-between;
  
  
    
  }
  .bookonline_a{
    text-decoration: underline;
    color: wheat;
    font-size: 40px;
    font-family: "Playfair Display", serif;
  }
  .valentinesday_a{
    text-decoration: underline;
    color: wheat;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    
}
hr{
  border: 1px solid wheat;
}
.newsevents{
  text-align: center;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
}


.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
}
.card{
height: 400px;
width: 350px;
justify-content: space-around;
flex-flow: wrap;


}
